The first step in the data-cleaning process is to read the data.

In [1]:
from dataretrieval import nwis
from IPython.display import display

In [2]:
# Set the parameters needed to retrieve data
siteNumber = "13211205"  
parameterCode = "00010" #  
startDate = "2011-10-01"
endDate = "2024-06-21"

# Retrieve the data
dailyStreamflow = nwis.get_dv(sites=siteNumber, parameterCd=parameterCode, start=startDate, end=endDate)
print(  type(dailyStreamflow) )
print("Retrieved " + str(len(dailyStreamflow[0])) + " data values.")

<class 'tuple'>
Retrieved 2976 data values.

Tuples are used to store multiple items in a single variable.

Once we have the data, we should observe it to understand the structure of the data.

In [3]:
# Display the data frame as a table
display(dailyStreamflow[0] )

                           00010_Mean 00010_Mean_cd   site_no
datetime
2015-11-17 00:00:00+00:00         8.1             A  13211205
2015-11-18 00:00:00+00:00         8.9             A  13211205
2015-11-19 00:00:00+00:00         8.4             A  13211205
2015-11-20 00:00:00+00:00         8.0             A  13211205
2015-11-21 00:00:00+00:00         6.8             A  13211205
...                               ...           ...       ...
2024-06-17 00:00:00+00:00        13.6             P  13211205
2024-06-18 00:00:00+00:00        13.7             P  13211205
2024-06-19 00:00:00+00:00        14.8             P  13211205
2024-06-20 00:00:00+00:00        15.4             P  13211205
2024-06-21 00:00:00+00:00        16.2             P  13211205

[2976 rows x 3 columns]

In [4]:
display(dailyStreamflow[1] )

NWIS_Metadata(url=https://waterservices.usgs.gov/nwis/dv?format=json&startDT=2011-10-01&endDT=2024-06-21&sites=13211205&parameterCd=00010)

In [5]:
dailyStreamflow[0].head(10)

                           00010_Mean 00010_Mean_cd   site_no
datetime
2015-11-17 00:00:00+00:00         8.1             A  13211205
2015-11-18 00:00:00+00:00         8.9             A  13211205
2015-11-19 00:00:00+00:00         8.4             A  13211205
2015-11-20 00:00:00+00:00         8.0             A  13211205
2015-11-21 00:00:00+00:00         6.8             A  13211205
2015-11-22 00:00:00+00:00         6.2             A  13211205
2015-11-23 00:00:00+00:00         6.2             A  13211205
2015-11-24 00:00:00+00:00         6.9             A  13211205
2015-11-25 00:00:00+00:00         7.3             A  13211205
2015-11-26 00:00:00+00:00         6.6             A  13211205

The zip() function returns a zip object, which is an iterator of tuples.

Check the data types of each column.

In [6]:
for column, dtype in zip( dailyStreamflow[0].columns,  dailyStreamflow[0].dtypes):
    print(f"{column}:{dtype}")

00010_Mean:float64
00010_Mean_cd:object
site_no:object

Find the null values in the dataset.

In [9]:
dataset_null =  dailyStreamflow[0].isnull()
print(dataset_null)

                           00010_Mean  00010_Mean_cd  site_no
datetime
2015-11-17 00:00:00+00:00       False          False    False
2015-11-18 00:00:00+00:00       False          False    False
2015-11-19 00:00:00+00:00       False          False    False
2015-11-20 00:00:00+00:00       False          False    False
2015-11-21 00:00:00+00:00       False          False    False
...                               ...            ...      ...
2024-06-17 00:00:00+00:00       False          False    False
2024-06-18 00:00:00+00:00       False          False    False
2024-06-19 00:00:00+00:00       False          False    False
2024-06-20 00:00:00+00:00       False          False    False
2024-06-21 00:00:00+00:00       False          False    False

[2976 rows x 3 columns]

In [10]:
dailyStreamflow[0].describe()

        00010_Mean
count  2976.000000
mean     11.442003
std       5.624638
min       0.300000
25%       6.500000
50%      10.700000
75%      16.025000
max      23.300000

In [12]:
print( dailyStreamflow[0].isnull().sum())

00010_Mean       0
00010_Mean_cd    0
site_no          0
dtype: int64