Import packages

In [1]:
from dataretrieval import nwis
import pandas as pd

Identify USGS site IDs

In [2]:
siteNumber = ["12305000","06038800"]
parameterCode = "00060" # Discharge
startDate = "1990-10-01"
endDate = "2024-09-30"

Retrive site infomation

In [3]:
site_info = nwis.get_info(sites= siteNumber )

site_info_df = pd.DataFrame( site_info[0] )

print( site_info_df )

#print( site_info_df.columns )

  agency_cd   site_no                                  station_nm site_tp_cd  \
0      USGS  06038800  Madison River at Kirby Ranch nr Cameron MT         ST
1      USGS  12305000                KOOTENAI RIVER AT LEONIA, ID         ST

      lat_va     long_va  dec_lat_va  dec_long_va coord_meth_cd  coord_acy_cd  \
0  445319.16  1113451.19   44.888656  -111.580886             N             1
1  483700.78  1160257.10   48.616883  -116.049194             N             1

   ... local_time_fg reliability_cd  gw_file_cd  nat_aqfr_cd  aqfr_cd  \
0  ...             Y              C    NYNNNNNN          NaN      NaN
1  ...             Y              C    NNNNNNNN          NaN      NaN

  aqfr_type_cd well_depth_va hole_depth_va  depth_src_cd  project_no
0          NaN           NaN           NaN           NaN         NaN
1          NaN           NaN           NaN           NaN         NaN

[2 rows x 42 columns]

Extract stream temp data

In [4]:
parameterCode = "00010" 

dailyStreamtemp = nwis.get_dv(sites=siteNumber, parameterCd=parameterCode, start=startDate, end=endDate) 

dailyStreamtemp_df = pd.DataFrame( dailyStreamtemp[0] )
dailyStreamtemp_df = dailyStreamtemp_df.reset_index()
dailyStreamtemp_df['Date'] = dailyStreamtemp_df['datetime'].dt.date
dailyStreamtemp_df['Month'] = dailyStreamtemp_df['datetime'].dt.month
dailyStreamtemp_df['Year'] = dailyStreamtemp_df['datetime'].dt.year

print( dailyStreamtemp_df)

#print( dailyStreamtemp_df.dtypes)
#print( type(dailyStreamtemp_df[["Date"]]) )

        site_no                  datetime  00010_Maximum 00010_Maximum_cd  \
0      06038800 1995-04-12 00:00:00+00:00            5.5                A
1      06038800 1995-04-13 00:00:00+00:00            6.5                A
2      06038800 1995-04-14 00:00:00+00:00            6.0                A
3      06038800 1995-04-15 00:00:00+00:00            6.5                A
4      06038800 1995-04-16 00:00:00+00:00            6.5                A
...         ...                       ...            ...              ...
12896  12305000 2024-09-26 00:00:00+00:00           15.7                P
12897  12305000 2024-09-27 00:00:00+00:00           14.3                P
12898  12305000 2024-09-28 00:00:00+00:00           14.1                P
12899  12305000 2024-09-29 00:00:00+00:00           14.2                P
12900  12305000 2024-09-30 00:00:00+00:00           13.6                P

       00010_Minimum 00010_Minimum_cd  00010_Mean 00010_Mean_cd        Date  \
0                2.5                A         4.0             A  1995-04-12
1                3.0                A         4.0             A  1995-04-13
2                2.0                A         3.5             A  1995-04-14
3                2.0                A         3.5             A  1995-04-15
4                2.0                A         3.5             A  1995-04-16
...              ...              ...         ...           ...         ...
12896           14.3                P        15.3             P  2024-09-26
12897           13.4                P        13.9             P  2024-09-27
12898           13.4                P        13.7             P  2024-09-28
12899           13.5                P        13.9             P  2024-09-29
12900           12.5                P        13.1             P  2024-09-30

       Month  Year
0          4  1995
1          4  1995
2          4  1995
3          4  1995
4          4  1995
...      ...   ...
12896      9  2024
12897      9  2024
12898      9  2024
12899      9  2024
12900      9  2024

[12901 rows x 11 columns]

Identify the minimum date of stream temp

In [5]:
min_dailyStreamtemp_date = str( dailyStreamtemp_df["Date"].iloc[0] )
print(  
   min_dailyStreamtemp_date 
    
#    min_dailyStreamtemp_date  
)
print( type(  min_dailyStreamtemp_date )    )

1995-04-12
<class 'str'>

extract streamflow data

In [7]:
parameterCode = "00060" 
dailyStreamflow = nwis.get_dv(sites=siteNumber, parameterCd=parameterCode, start= min_dailyStreamtemp_date , end=endDate) 
#print(dailyStreamflow)
#print( type(dailyStreamflow) )

dailyStreamflow_df = pd.DataFrame( dailyStreamflow[0] )
dailyStreamflow_df =dailyStreamflow_df .reset_index()


# Convert datetime to date (remove the time part)
dailyStreamflow_df['Date'] = dailyStreamflow_df['datetime'].dt.date
dailyStreamflow_df['Month'] = dailyStreamflow_df['datetime'].dt.month
dailyStreamflow_df['Year'] = dailyStreamflow_df['datetime'].dt.year

dailyStreamflow_df = dailyStreamflow_df[ dailyStreamflow_df['Month'].isin( [6,7,8] )    ]

print(dailyStreamflow_df)

        site_no                  datetime  00060_Mean 00060_Mean_cd  \
50     06038800 1995-06-01 00:00:00+00:00      2510.0             A
51     06038800 1995-06-02 00:00:00+00:00      2570.0             A
52     06038800 1995-06-03 00:00:00+00:00      2750.0             A
53     06038800 1995-06-04 00:00:00+00:00      2850.0             A
54     06038800 1995-06-05 00:00:00+00:00      2870.0             A
...         ...                       ...         ...           ...
21495  12305000 2024-08-27 00:00:00+00:00      8580.0             A
21496  12305000 2024-08-28 00:00:00+00:00      8610.0             A
21497  12305000 2024-08-29 00:00:00+00:00      8620.0             A
21498  12305000 2024-08-30 00:00:00+00:00      8590.0             A
21499  12305000 2024-08-31 00:00:00+00:00      8560.0             A

             Date  Month  Year
50     1995-06-01      6  1995
51     1995-06-02      6  1995
52     1995-06-03      6  1995
53     1995-06-04      6  1995
54     1995-06-05      6  1995
...           ...    ...   ...
21495  2024-08-27      8  2024
21496  2024-08-28      8  2024
21497  2024-08-29      8  2024
21498  2024-08-30      8  2024
21499  2024-08-31      8  2024

[5520 rows x 7 columns]