Temperature Annual Signal

conduct linear fit to a sinsddial function 

Tfit.lm <- lm(temp ~ sin(rday) + cos(rday), data = df)

In [6]:
from dataretrieval import nwis
from IPython.display import display
import pandas as pd

In [9]:
siteNumber = "12305000"  
parameterCode = "00060" # Discharge
startDate = "2000-10-01"
endDate = "2024-09-30"

(                            site_no  00060_Mean 00060_Mean_cd
datetime
2011-10-01 00:00:00+00:00  12305000      6850.0             A
2011-10-02 00:00:00+00:00  12305000      6140.0             A
2011-10-03 00:00:00+00:00  12305000      5180.0             A
2011-10-04 00:00:00+00:00  12305000      4910.0             A
2011-10-05 00:00:00+00:00  12305000      4950.0             A
...                             ...         ...           ...
2024-09-26 00:00:00+00:00  12305000      8500.0             A
2024-09-27 00:00:00+00:00  12305000      8510.0             A
2024-09-28 00:00:00+00:00  12305000      8500.0             A
2024-09-29 00:00:00+00:00  12305000      8490.0             A
2024-09-30 00:00:00+00:00  12305000      8500.0             A

[4749 rows x 3 columns], NWIS_Metadata(url=https://waterservices.usgs.gov/nwis/dv?format=json&parameterCd=00060&startDT=2011-10-01&endDT=2024-09-30&sites=12305000))
<class 'tuple'>

In [10]:

# Retrieve site information
site_info = nwis.get_info(sites= siteNumber )

site_info_df = pd.DataFrame( site_info[0] )

print( site_info_df )

print( site_info_df.columns )

  agency_cd   site_no                    station_nm site_tp_cd     lat_va  \
0      USGS  12305000  KOOTENAI RIVER AT LEONIA, ID         ST  483700.78

     long_va  dec_lat_va  dec_long_va coord_meth_cd  coord_acy_cd  ...  \
0  1160257.1   48.616883  -116.049194             N             1  ...

  local_time_fg reliability_cd  gw_file_cd  nat_aqfr_cd  aqfr_cd aqfr_type_cd  \
0             Y              C    NNNNNNNN          NaN      NaN          NaN

  well_depth_va hole_depth_va  depth_src_cd  project_no
0           NaN           NaN           NaN         NaN

[1 rows x 42 columns]
Index(['agency_cd', 'site_no', 'station_nm', 'site_tp_cd', 'lat_va', 'long_va',
       'dec_lat_va', 'dec_long_va', 'coord_meth_cd', 'coord_acy_cd',
       'coord_datum_cd', 'dec_coord_datum_cd', 'district_cd', 'state_cd',
       'county_cd', 'country_cd', 'land_net_ds', 'map_nm', 'map_scale_fc',
       'alt_va', 'alt_meth_cd', 'alt_acy_va', 'alt_datum_cd', 'huc_cd',
       'basin_cd', 'topo_cd', 'instruments_cd', 'construction_dt',
       'inventory_dt', 'drain_area_va', 'contrib_drain_area_va', 'tz_cd',
       'local_time_fg', 'reliability_cd', 'gw_file_cd', 'nat_aqfr_cd',
       'aqfr_cd', 'aqfr_type_cd', 'well_depth_va', 'hole_depth_va',
       'depth_src_cd', 'project_no'],
      dtype='object')

In [11]:
parameterCode = "00010" 

# Retrieve the data
dailyStreamtemp = nwis.get_dv(sites=siteNumber, parameterCd=parameterCode, start=startDate, end=endDate) 

dailyStreamtemp_df = pd.DataFrame( dailyStreamtemp[0] )
dailyStreamtemp_df = dailyStreamtemp_df.reset_index()
dailyStreamtemp_df['Date'] = dailyStreamtemp_df['datetime'].dt.date
dailyStreamtemp_df['Month'] = dailyStreamtemp_df['datetime'].dt.month
dailyStreamtemp_df['Year'] = dailyStreamtemp_df['datetime'].dt.year

print( dailyStreamtemp_df)

print( dailyStreamtemp_df.dtypes)
print( type(dailyStreamtemp_df[["Date"]]) )

                      datetime   site_no  00010_Maximum 00010_Maximum_cd  \
0    2011-10-01 00:00:00+00:00  12305000           15.5                A
1    2011-10-02 00:00:00+00:00  12305000           15.5                A
2    2011-10-03 00:00:00+00:00  12305000           15.5                A
3    2011-10-04 00:00:00+00:00  12305000           14.5                A
4    2011-10-05 00:00:00+00:00  12305000           13.5                A
...                        ...       ...            ...              ...
4410 2024-09-26 00:00:00+00:00  12305000           15.7                P
4411 2024-09-27 00:00:00+00:00  12305000           14.3                P
4412 2024-09-28 00:00:00+00:00  12305000           14.1                P
4413 2024-09-29 00:00:00+00:00  12305000           14.2                P
4414 2024-09-30 00:00:00+00:00  12305000           13.6                P

      00010_Minimum 00010_Minimum_cd  00010_Mean 00010_Mean_cd        Date  \
0              13.5                A        14.5             A  2011-10-01
1              14.5                A        15.0             A  2011-10-02
2              14.5                A        15.0             A  2011-10-03
3              13.5                A        14.0             A  2011-10-04
4              13.0                A        13.0             A  2011-10-05
...             ...              ...         ...           ...         ...
4410           14.3                P        15.3             P  2024-09-26
4411           13.4                P        13.9             P  2024-09-27
4412           13.4                P        13.7             P  2024-09-28
4413           13.5                P        13.9             P  2024-09-29
4414           12.5                P        13.1             P  2024-09-30

      Month  Year
0        10  2011
1        10  2011
2        10  2011
3        10  2011
4        10  2011
...     ...   ...
4410      9  2024
4411      9  2024
4412      9  2024
4413      9  2024
4414      9  2024

[4415 rows x 11 columns]
datetime            datetime64[ns, UTC]
site_no                          object
00010_Maximum                   float64
00010_Maximum_cd                 object
00010_Minimum                   float64
00010_Minimum_cd                 object
00010_Mean                      float64
00010_Mean_cd                    object
Date                             object
Month                             int32
Year                              int32
dtype: object
<class 'pandas.core.frame.DataFrame'>

the minimum date of stream temp

In [26]:
#print( (dailyStreamtemp_df[["Date"]].iloc[0] )   )
min_dailyStreamtemp_date = str( dailyStreamtemp_df["Date"].iloc[0] )
print(  
   min_dailyStreamtemp_date 
    
#    min_dailyStreamtemp_date  
)
print( type(  min_dailyStreamtemp_date )    )

2011-10-01
<class 'str'>

In [28]:

dailyStreamflow = nwis.get_dv(sites=siteNumber, parameterCd=parameterCode, start= min_dailyStreamtemp_date , end=endDate) 
print(dailyStreamflow)
print( type(dailyStreamflow) )

(                            site_no  00010_Maximum 00010_Maximum_cd  \
datetime
2011-10-01 00:00:00+00:00  12305000           15.5                A
2011-10-02 00:00:00+00:00  12305000           15.5                A
2011-10-03 00:00:00+00:00  12305000           15.5                A
2011-10-04 00:00:00+00:00  12305000           14.5                A
2011-10-05 00:00:00+00:00  12305000           13.5                A
...                             ...            ...              ...
2024-09-26 00:00:00+00:00  12305000           15.7                P
2024-09-27 00:00:00+00:00  12305000           14.3                P
2024-09-28 00:00:00+00:00  12305000           14.1                P
2024-09-29 00:00:00+00:00  12305000           14.2                P
2024-09-30 00:00:00+00:00  12305000           13.6                P

                           00010_Minimum 00010_Minimum_cd  00010_Mean  \
datetime
2011-10-01 00:00:00+00:00           13.5                A        14.5
2011-10-02 00:00:00+00:00           14.5                A        15.0
2011-10-03 00:00:00+00:00           14.5                A        15.0
2011-10-04 00:00:00+00:00           13.5                A        14.0
2011-10-05 00:00:00+00:00           13.0                A        13.0
...                                  ...              ...         ...
2024-09-26 00:00:00+00:00           14.3                P        15.3
2024-09-27 00:00:00+00:00           13.4                P        13.9
2024-09-28 00:00:00+00:00           13.4                P        13.7
2024-09-29 00:00:00+00:00           13.5                P        13.9
2024-09-30 00:00:00+00:00           12.5                P        13.1

                          00010_Mean_cd
datetime
2011-10-01 00:00:00+00:00             A
2011-10-02 00:00:00+00:00             A
2011-10-03 00:00:00+00:00             A
2011-10-04 00:00:00+00:00             A
2011-10-05 00:00:00+00:00             A
...                                 ...
2024-09-26 00:00:00+00:00             P
2024-09-27 00:00:00+00:00             P
2024-09-28 00:00:00+00:00             P
2024-09-29 00:00:00+00:00             P
2024-09-30 00:00:00+00:00             P

[4415 rows x 7 columns], NWIS_Metadata(url=https://waterservices.usgs.gov/nwis/dv?format=json&parameterCd=00010&startDT=2011-10-01&endDT=2024-09-30&sites=12305000))
<class 'tuple'>

In [32]:
print( "siteNumber:", siteNumber    )

print("min_dailyStreamtemp_date:", min_dailyStreamtemp_date)

print("dec_lat_va:", site_info_df["dec_lat_va"]    )

print("dec_long_va:", site_info_df["dec_long_va"]    )

siteNumber: 12305000
min_dailyStreamtemp_date: 2011-10-01
dec_lat_va: 0    48.616883
Name: dec_lat_va, dtype: float64
dec_long_va: 0   -116.049194
Name: dec_long_va, dtype: float64